/* Reset default browser styles */
body, h1, h2, h3, form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Center align elements */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:50vh;
  background-color: #f5f5f5;
 
}



.container {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

p {
  color: red;
}
